.checkbox {
	@apply flex items-center;

	> span:first-child {
		@apply h-5 w-5 rounded border border-solid border-white bg-transparent transition-colors duration-300 ease-in-out;

		&.active {
			@apply border-primary bg-primary;
		}
		&.inActive {
			@apply border-slate-300
		}
	}

	> span:last-child {
		@apply inline-flex ml-3;
	}
}
