@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-secondary text-base text-black-700;
	font-family: var(--font-golos), sans-serif;
	width: 100%;
}

::-webkit-scrollbar{
	display: none;
}

.disabled {
	pointer-events: none;
	text-decoration: none;
	cursor: default;
	opacity: 0.2 !important;
	box-sizing: border-box;
}

.open-menu {
	opacity: 1;
	transform: scale(1);
}

.close-menu {
	opacity: 0;
	transform: scale(0.8);
	display: none;
}


.btn {
	@apply rounded-xl px-10 py-2 font-medium shadow transition duration-300 ease-in-out;

	&:not(&:disabled) {
		@apply hover:shadow-lg;
	}

	&.btn-white {
		@apply bg-white text-primary;
	}

	&.btn-orange {
		@apply bg-primary text-white;
	}

	&.btn-large {
		@apply px-12 py-4 text-xl;
	}
}

input[type='range']::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
}
